# <span style="color:#88B04B">CHAPTER 05</span>
## <span style="color:#1E3D89">LOOPS</span>
___

<img src="imagenes/capitulo_05/5.1.png">

In [4]:
data = eval(input('Enter an integer, the input ends if it is 0: '))

numPositive = 0
numNegative = 0
sum_ = 0

while data != 0:
    if data > 0:
        numPositive += 1
    if data < 0:
        numNegative += 1
    sum_ += data
    data = eval(input('Enter an integer, the input ends if it is 0: '))

if numPositive + numNegative == 0:
    print("You didn't enter any number")
else:
    print(f'The number of positives is {numPositive}')
    print(f'The number of negatives is {numNegative}')
    print(f'The total is {sum_}')
    print(f'The average is {sum_ / (numPositive + numNegative)}')

Enter an integer, the input ends if it is 0: 1
Enter an integer, the input ends if it is 0: 2
Enter an integer, the input ends if it is 0: -1
Enter an integer, the input ends if it is 0: 3
Enter an integer, the input ends if it is 0: 0
The number of positives is 3
The number of negatives is 1
The total is 5
The average is 1.25

<img src="imagenes/capitulo_05/5.2.png">

In [10]:
import random
import time

correctCount = 0 # Count the number of correct answers
count = 0 # Count the number of questions
NUMBER_OF_QUESTIONS = 10 # Constant

startTime = time.time() # Get start time

while count < NUMBER_OF_QUESTIONS:
    # Generate two random single-digit integers
    number1 = random.randint(0, 9)
    number2 = random.randint(0, 9)

    # Prompt the student to answer "What is number1 - number2?
    answer = eval(input(f'What is {number1} + {number2} ? '))
    
    # Grade the answer and display the result
    if number1 + number2 == answer:
        print('You are correct!')
        correctCount += 1
    else:
        print(f'Your answer is wrong.\n{number1} + {number2} is {number1 + number2}')
        
    # Increase the count
    count += 1
    
endTime = time.time() # Get end time
testTime = int(endTime - startTime) # Get test time
    
print(f'Correct count is {correctCount} out of {NUMBER_OF_QUESTIONS} \nTest time is {testTime} seconds')

What is 4 + 7 ? 11
You are correct!
What is 7 + 4 ? 11
You are correct!
What is 5 + 5 ? 1
Your answer is wrong.
5 + 5 is 10
What is 6 + 3 ? 1
Your answer is wrong.
6 + 3 is 9
What is 8 + 6 ? 1
Your answer is wrong.
8 + 6 is 14
What is 8 + 7 ? 1
Your answer is wrong.
8 + 7 is 15
What is 6 + 7 ? 1
Your answer is wrong.
6 + 7 is 13
What is 1 + 1 ? 1
Your answer is wrong.
1 + 1 is 2
What is 6 + 3 ? 1
Your answer is wrong.
6 + 3 is 9
What is 5 + 0 ? 1
Your answer is wrong.
5 + 0 is 5
Correct count is 2 out of 10
Test time is 11 seconds

<img src="imagenes/capitulo_05/5.3.png">

In [47]:
print(f'{"kilograms":10} {"Pounds":>10}')
print()

for n in range(1, 200, 2):
    print(f'{n:<10} {n * 2.2:>10.1f}')

kilograms      Pounds

1                 2.2
3                 6.6
5                11.0
7                15.4
9                19.8
11               24.2
13               28.6
15               33.0
17               37.4
19               41.8
21               46.2
23               50.6
25               55.0
27               59.4
29               63.8
31               68.2
33               72.6
35               77.0
37               81.4
39               85.8
41               90.2
43               94.6
45               99.0
47              103.4
49              107.8
51              112.2
53              116.6
55              121.0
57              125.4
59              129.8
61              134.2
63              138.6
65              143.0
67              147.4
69              151.8
71              156.2
73              160.6
75              165.0
77              169.4
79              173.8
81              178.2
83              182.6
85              187.0
87              191.4
89              195.8
91              200.2
93              204.6
95              209.0
97              213.4
99              217.8
101             222.2
103             226.6
105             231.0
107             235.4
109             239.8
111             244.2
113             248.6
115             253.0
117             257.4
119             261.8
121             266.2
123             270.6
125             275.0
127             279.4
129             283.8
131             288.2
133             292.6
135             297.0
137             301.4
139             305.8
141             310.2
143             314.6
145             319.0
147             323.4
149             327.8
151             332.2
153             336.6
155             341.0
157             345.4
159             349.8
161             354.2
163             358.6
165             363.0
167             367.4
169             371.8
171             376.2
173             380.6
175             385.0
177             389.4
179             393.8
181             398.2
183             402.6
185             407.0
187             411.4
189             415.8
191             420.2
193             424.6
195             429.0
197             433.4
199             437.8

<img src="imagenes/capitulo_05/5.4.png">

In [44]:
print(f'{"Miles":10} {"Kilometers":10}')
print()

for n in range(1, 11):
    print(f'{n:<10} {n * 1.609:>10.3f}')

Miles      Kilometers

1               1.609
2               3.218
3               4.827
4               6.436
5               8.045
6               9.654
7              11.263
8              12.872
9              14.481
10             16.090

<img src="imagenes/capitulo_05/5.5.png">

In [77]:
print(f'{"kilograms":12} {"Pounds":8} {"|":^8} {"Pounds":10} {"Kilograms":12}')
print()
for n in range(1, 200, 2):
    print(f'{n:<12} {n * 2.2:<8.1f} {"|":^8}  {20 + (n // 2) * 5:<10} {(20 + (n // 2) * 5) * 0.4545:<12.2f}')

kilograms    Pounds      |     Pounds     Kilograms

1            2.2         |      20         9.09
3            6.6         |      25         11.36
5            11.0        |      30         13.63
7            15.4        |      35         15.91
9            19.8        |      40         18.18
11           24.2        |      45         20.45
13           28.6        |      50         22.73
15           33.0        |      55         25.00
17           37.4        |      60         27.27
19           41.8        |      65         29.54
21           46.2        |      70         31.82
23           50.6        |      75         34.09
25           55.0        |      80         36.36
27           59.4        |      85         38.63
29           63.8        |      90         40.91
31           68.2        |      95         43.18
33           72.6        |      100        45.45
35           77.0        |      105        47.72
37           81.4        |      110        50.00
39           85.8        |      115        52.27
41           90.2        |      120        54.54
43           94.6        |      125        56.81
45           99.0        |      130        59.09
47           103.4       |      135        61.36
49           107.8       |      140        63.63
51           112.2       |      145        65.90
53           116.6       |      150        68.17
55           121.0       |      155        70.45
57           125.4       |      160        72.72
59           129.8       |      165        74.99
61           134.2       |      170        77.27
63           138.6       |      175        79.54
65           143.0       |      180        81.81
67           147.4       |      185        84.08
69           151.8       |      190        86.36
71           156.2       |      195        88.63
73           160.6       |      200        90.90
75           165.0       |      205        93.17
77           169.4       |      210        95.45
79           173.8       |      215        97.72
81           178.2       |      220        99.99
83           182.6       |      225        102.26
85           187.0       |      230        104.53
87           191.4       |      235        106.81
89           195.8       |      240        109.08
91           200.2       |      245        111.35
93           204.6       |      250        113.62
95           209.0       |      255        115.90
97           213.4       |      260        118.17
99           217.8       |      265        120.44
101          222.2       |      270        122.72
103          226.6       |      275        124.99
105          231.0       |      280        127.26
107          235.4       |      285        129.53
109          239.8       |      290        131.81
111          244.2       |      295        134.08
113          248.6       |      300        136.35
115          253.0       |      305        138.62
117          257.4       |      310        140.90
119          261.8       |      315        143.17
121          266.2       |      320        145.44
123          270.6       |      325        147.71
125          275.0       |      330        149.99
127          279.4       |      335        152.26
129          283.8       |      340        154.53
131          288.2       |      345        156.80
133          292.6       |      350        159.08
135          297.0       |      355        161.35
137          301.4       |      360        163.62
139          305.8       |      365        165.89
141          310.2       |      370        168.16
143          314.6       |      375        170.44
145          319.0       |      380        172.71
147          323.4       |      385        174.98
149          327.8       |      390        177.25
151          332.2       |      395        179.53
153          336.6       |      400        181.80
155          341.0       |      405        184.07
157          345.4       |      410        186.34
159          349.8       |      415        188.62
161          354.2       |      420        190.89
163          358.6       |      425        193.16
165          363.0       |      430        195.44
167          367.4       |      435        197.71
169          371.8       |      440        199.98
171          376.2       |      445        202.25
173          380.6       |      450        204.53
175          385.0       |      455        206.80
177          389.4       |      460        209.07
179          393.8       |      465        211.34
181          398.2       |      470        213.62
183          402.6       |      475        215.89
185          407.0       |      480        218.16
187          411.4       |      485        220.43
189          415.8       |      490        222.71
191          420.2       |      495        224.98
193          424.6       |      500        227.25
195          429.0       |      505        229.52
197          433.4       |      510        231.80
199          437.8       |      515        234.07

<img src="imagenes/capitulo_05/5.6.png">

In [86]:
print(f'{"Miles":10} {"Kilometers":10} {"|":^8} {"Kilometers":15} {"Miles":12}')
print()
for n in range(1, 11):
    print(f'{n:<10} {n * 1.609:<10.3f} {"|":^8}  {15 + n  * 5:<15} {(15 + n * 5) * 0.621:<12.3f}')

Miles      Kilometers    |     Kilometers      Miles

1          1.609         |      20              12.420
2          3.218         |      25              15.525
3          4.827         |      30              18.630
4          6.436         |      35              21.735
5          8.045         |      40              24.840
6          9.654         |      45              27.945
7          11.263        |      50              31.050
8          12.872        |      55              34.155
9          14.481        |      60              37.260
10         16.090        |      65              40.365

<img src="imagenes/capitulo_05/5.7.png">

In [91]:
import math

print(f'{"Degree":10} {"Sin":10} {"Cos":10}')
for n in range(0, 361, 10):
    print(f'{n:<10} {math.sin(math.radians(n)):<10.4f} {math.cos(math.radians(n)):<10.4f}')

Degree     Sin        Cos
0          0.0000     1.0000
10         0.1736     0.9848
20         0.3420     0.9397
30         0.5000     0.8660
40         0.6428     0.7660
50         0.7660     0.6428
60         0.8660     0.5000
70         0.9397     0.3420
80         0.9848     0.1736
90         1.0000     0.0000
100        0.9848     -0.1736
110        0.9397     -0.3420
120        0.8660     -0.5000
130        0.7660     -0.6428
140        0.6428     -0.7660
150        0.5000     -0.8660
160        0.3420     -0.9397
170        0.1736     -0.9848
180        0.0000     -1.0000
190        -0.1736    -0.9848
200        -0.3420    -0.9397
210        -0.5000    -0.8660
220        -0.6428    -0.7660
230        -0.7660    -0.6428
240        -0.8660    -0.5000
250        -0.9397    -0.3420
260        -0.9848    -0.1736
270        -1.0000    -0.0000
280        -0.9848    0.1736
290        -0.9397    0.3420
300        -0.8660    0.5000
310        -0.7660    0.6428
320        -0.6428    0.7660
330        -0.5000    0.8660
340        -0.3420    0.9397
350        -0.1736    0.9848
360        -0.0000    1.0000

<img src="imagenes/capitulo_05/5.8.png">

In [95]:
import math

print(f'{"Number":15} {"Square Root":15}')
print()
for n in range(0,21, 2):
    print(f'{n:<15} {math.sqrt(n):<15.4f}')

Number          Square Root

0               0.0000
2               1.4142
4               2.0000
6               2.4495
8               2.8284
10              3.1623
12              3.4641
14              3.7417
16              4.0000
18              4.2426
20              4.4721

<img src="imagenes/capitulo_05/5.9.png">

In [9]:
# No se entiende bien el problema
year = 0
tuition = 10000
rate = 1.05

for year in range(10):
    tuition = tuition * rate

print(f'Tuition in ten years will be {tuition:1.2f}')

Tuition in ten years will be 16288.95

<img src="imagenes/capitulo_05/5.10.png">

In [31]:
numStudent = eval(input('Enter the number of students: '))

maxScore = -1

for i in range(numStudent):
    temp = eval(input(f'Enter student[{i+1}] score: '))
    if temp > maxScore:
        maxScore = temp

print(f'The highest score is {maxScore}')

Enter the number of students: 4
Enter student[1] score: 12
Enter student[2] score: 18
Enter student[3] score: 12
Enter student[4] score: 11
The highest score is 18

<img src="imagenes/capitulo_05/5.11.png">

In [ ]:
# NO SOLUCIONADO
numStudent = eval(input('Enter the number of students: '))

maxScore1 = -1
maxScore2 = -1

i = 0

for i in range(2):
    temp = eval(input(f'Enter student[{i+1}] score: '))
    
    if temp > maxScore1:
        maxScore1 = temp
    
    if maxScore1 < maxScore2:

print(f'The highest score is {maxScore}')

<img src="imagenes/capitulo_05/5.12.png">

In [40]:
count = 0
for i in range(100, 1001):
    if i % 5 == 0 and i % 6 == 0:
        print(f'{i}', end = " ")
        count += 1
        if count == 10:
            print()
            count = 0

120 150 180 210 240 270 300 330 360 390
420 450 480 510 540 570 600 630 660 690
720 750 780 810 840 870 900 930 960 990

<img src="imagenes/capitulo_05/5.13.png">

In [42]:
count = 0
for i in range(100, 201):
    if (i % 5 == 0 or i % 6 == 0) and not(i % 5 == 0 and i % 6 == 0):
        print(f'{i}', end = " ")
        count += 1
        if count == 10:
            print()
            count = 0

100 102 105 108 110 114 115 125 126 130
132 135 138 140 144 145 155 156 160 162
165 168 170 174 175 185 186 190 192 195
198 200

<img src="imagenes/capitulo_05/5.14.png">

In [31]:
value = 0
number = 0

while number < 12000:
    number += 1
    value = number ** 2
    if value > 12000:
        number -= 1
        break
print(f'The smallest value is {number} ')
print(f'{number}^2 => {number ** 2} < 12000 : {number ** 2 < 12000}')
print(f'{number +  1}^2 => {(number + 1) ** 2} < 12000 : {(number + 1) ** 2 < 12000}')

The smallest value is 109
109^2 => 11881 < 12000 : True
110^2 => 12100 < 12000 : False

<img src="imagenes/capitulo_05/5.15.png">

In [32]:
value = 0
number = 0

while number < 12000:
    number += 1
    value = number ** 3
    if value > 12000:
        number -= 1
        break
print(f'The smallest value is {number} ')
print(f'{number}^3 => {number ** 3} < 12000 : {number ** 3 < 12000}')
print(f'{number +  1}^3 => {(number + 1) ** 3} < 12000 : {(number + 1) ** 3 < 12000}')

The smallest value is 22
22^3 => 10648 < 12000 : True
23^3 => 12167 < 12000 : False

<img src="imagenes/capitulo_05/5.16.png">

In [ ]:
# NO SOLUCIONADO

<img src="imagenes/capitulo_05/5.17.png">

In [43]:
count = 0
for i in range(33, 128):
    print(f'{chr(i)}', end = ' ')
    count += 1
    if count == 10:
        print()
        count = 0

! " # $ % & ' ( ) *
+ , - . / 0 1 2 3 4
5 6 7 8 9 : ; < = >
? @ A B C D E F G H
I J K L M N O P Q R
S T U V W X Y Z [ \
] ^ _ ` a b c d e f
g h i j k l m n o p
q r s t u v w x y z
{ | } ~ 

<img src="imagenes/capitulo_05/5.18.png">

In [16]:
number = eval(input('Enter a number: '))
divisor = 2

while number != 1:
    while number % divisor == 0:
        number =  number / divisor
        if number != 1:
            print(f'{divisor}', end = ", ")
        else:
            print(f'{divisor}')
    divisor += 1

Enter a number: 156
2, 2, 3, 13

<img src="imagenes/capitulo_05/5.19.png">

In [70]:
lines = 7
for i in range(1, lines + 1):
    for j in range(lines - 1):
        if lines - j > i:
            print(" ", end = "  ")
        else:
            print(lines - j, end = "  ")
    for j in range(lines):
        if j + 1 > i:
            print(" ", end = "  ")
        else:
            print(j + 1, end = "  ")
    print()

                  1
               2  1  2
            3  2  1  2  3
         4  3  2  1  2  3  4
      5  4  3  2  1  2  3  4  5
   6  5  4  3  2  1  2  3  4  5  6
7  6  5  4  3  2  1  2  3  4  5  6  7

<img src="imagenes/capitulo_05/5.20.png">

In [97]:
lines = 7

print(f'Pattern A\n')
for i in range(1, lines):
    for j in range(i):
        print(j + 1, end = "  ")
    print()

print(f'\nPattern B\n')
for i in range(1, lines):
    for j in range(lines - i):
        print(j + 1, end = "  ")
    print()

print(f'\nPattern C\n')
for i in range(1, lines):
    for j in range(lines):
        if lines - j > i:
            print(" ", end = "  ")
        else:
            print(lines - j, end = "  ")
    print()

print(f'\nPattern D\n')
for i in range(1, lines):
    for j in range(lines - i):
        print(j + 1, end = "  ")
    print()

Pattern A

1
1  2
1  2  3
1  2  3  4
1  2  3  4  5
1  2  3  4  5  6

Pattern B

1  2  3  4  5  6
1  2  3  4  5
1  2  3  4
1  2  3
1  2
1

Pattern C

                  1
               2  1
            3  2  1
         4  3  2  1
      5  4  3  2  1
   6  5  4  3  2  1

Pattern D

1  2  3  4  5  6
1  2  3  4  5
1  2  3  4
1  2  3
1  2
1

<img src="imagenes/capitulo_05/5.21.png">

In [150]:
lines = 8
for i in range(1, lines + 1):
    count = 1
    for j in range(lines):
        if lines - j > i:
            print(" ", end = "   ")
        else:
            print(f'{count:>3}', end = " ")
            count *= 2
    count //= 2
    for j in range(lines):
        if j == 0:
            continue
        if j + 1 > i:
            print(" ", end = "   ")
        else:
            count //= 2
            print(f'{count:>3}', end = " ") 
    print()

                              1
                          1   2   1
                      1   2   4   2   1
                  1   2   4   8   4   2   1
              1   2   4   8  16   8   4   2   1
          1   2   4   8  16  32  16   8   4   2   1
      1   2   4   8  16  32  64  32  16   8   4   2   1
  1   2   4   8  16  32  64 128  64  32  16   8   4   2   1

<img src="imagenes/capitulo_05/5.22.png">

<img src="imagenes/capitulo_05/5.23.png">

In [222]:
loanAmount = 10000
numberOfYears = 5

print(f'{"Interest Rate":<18} {"Monthly Payment":<18} {"Total Payment":<18}')
print()


for i in range(5000, 8001, 125):
    monthlyInterestRate = i / 1000 / 1200
    monthlyPayment = loanAmount * monthlyInterestRate / (1 - 1 / (1 + monthlyInterestRate) ** (numberOfYears * 12))
    totalPayment = monthlyPayment * numberOfYears * 12
    print(f'{monthlyInterestRate * 1200:<1.3f}% {monthlyPayment:>18.2f} {totalPayment:>20.2f}')

Interest Rate      Monthly Payment    Total Payment

5.000%             188.71             11322.74
5.125%             189.29             11357.13
5.250%             189.86             11391.59
5.375%             190.44             11426.11
5.500%             191.01             11460.70
5.625%             191.59             11495.35
5.750%             192.17             11530.06
5.875%             192.75             11564.84
6.000%             193.33             11599.68
6.125%             193.91             11634.59
6.250%             194.49             11669.56
6.375%             195.08             11704.59
6.500%             195.66             11739.69
6.625%             196.25             11774.85
6.750%             196.83             11810.08
6.875%             197.42             11845.37
7.000%             198.01             11880.72
7.125%             198.60             11916.14
7.250%             199.19             11951.62
7.375%             199.79             11987.16
7.500%             200.38             12022.77
7.625%             200.97             12058.44
7.750%             201.57             12094.18
7.875%             202.17             12129.97
8.000%             202.76             12165.84

<img src="imagenes/capitulo_05/5.24.png">

In [14]:
loanAmount = eval(input('Loan Amount: '))
numberOfYears = eval(input('Number of Years: '))
i = eval(input('Anual Interest Rate: '))

monthlyInterestRate = i  / 1200
balance = loanAmount

monthlyPayment = loanAmount * monthlyInterestRate / (1 - 1 / (1 + monthlyInterestRate) ** (numberOfYears * 12))
totalPayment = monthlyPayment * numberOfYears * 12

print(f'Monthly Payment: {monthlyPayment:>1.2f}')
print(f'Total Payment: {totalPayment:>1.2f}')
print()
print(f'{"Payment#":<12} {"Interest":<12} {"Principal":<12} {"Balance":<12}')

for i in range(1, numberOfYears * 12 + 1):
    interest = monthlyInterestRate * balance
    principal = monthlyPayment - interest
    balance = balance - principal
    print(f'{i:<12} {interest:<12.2f} {principal:<12.2f} {balance:<12.2f}')

Loan Amount: 10000
Number of Years: 1
Monthly Payment: 865.27
Total Payment: 10383.21

Payment#     Interest     Principal    Balance
1            58.33        806.93       9193.07
2            53.63        811.64       8381.42
3            48.89        816.38       7565.05
4            44.13        821.14       6743.91
5            39.34        825.93       5917.98
6            34.52        830.75       5087.24
7            29.68        835.59       4251.65
8            24.80        840.47       3411.18
9            19.90        845.37       2565.81
10           14.97        850.30       1715.51
11           10.01        855.26       860.25
12           5.02         860.25       0.00

<img src="imagenes/capitulo_05/5.25.png">

In [38]:
sum1 = 0
sum2 = 0
n = 50000

for i in range(1, n + 1):
    sum1 += 1 / i
print(sum1)

for i in range(n, 0, -1):
    sum2 += 1 / i
print(sum2)

11.397003949278504
11.397003949278519

<img src="imagenes/capitulo_05/5.26.png">

In [46]:
n = 48
sum = 0
for i in range(n + 1):
    sum = 2 * i + 1 / 2 * (i + 1) + 1
print(sum)

121.5

<img src="imagenes/capitulo_05/5.27.png">

In [18]:
n = 100000

for i in range (10000, 100000 + 1, 10000):
    sum = 0
    for j in range(1, i + 1):
        sum += (-1) ** (j + 1) / (2 * j - 1)
    print(f'For {i} : {4*sum}')

For 10000 : 3.1414926535900345
For 20000 : 3.1415426535898248
For 30000 : 3.141559320256462
For 40000 : 3.1415676535897985
For 50000 : 3.1415726535897814
For 60000 : 3.141575986923102
For 70000 : 3.141578367875482
For 80000 : 3.1415801535897496
For 90000 : 3.1415815424786238
For 100000 : 3.1415826535897198

<img src="imagenes/capitulo_05/5.28.png">

In [32]:
i = 10000
temp = 1
sum = 0
for i in range (10000, 100000 + 1, 10000):
    temp = 1
    sum = 0
    for j in range(1, i + 1):
        temp *= j
        sum += 1 / temp
    print(f'For {i} : {sum}')

For 10000 : 1.7182818284590455
For 20000 : 1.7182818284590455
For 30000 : 1.7182818284590455
For 40000 : 1.7182818284590455
For 50000 : 1.7182818284590455
For 60000 : 1.7182818284590455
For 70000 : 1.7182818284590455
For 80000 : 1.7182818284590455
For 90000 : 1.7182818284590455
For 100000 : 1.7182818284590455

<img src="imagenes/capitulo_05/5.29.png">

In [46]:
count = 0
for year in range(2001, 2101):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        #print(f'count: {count}')
        if count % 11 == 0:
            print()
        else:
            print(f'{year:4}', end = ' ')
        count += 1

2008 2012 2016 2020 2024 2028 2032 2036 2040 2044
2052 2056 2060 2064 2068 2072 2076 2080 2084 2088
2096

<img src="imagenes/capitulo_05/5.30.png">

In [67]:
inputYear = eval(input('Enter the year: '))
for m in range (1, 13):
    year = inputYear
    q = 1

    _year = year
    _m = m

    if m == 1:
        m = 13
        year -= 1

    if m == 2:
        m = 14
        year -= 1

    j = year / 100

    k = year % 100

    h = int((q + int(26 * (m + 1) / 10) +  k + k // 4 + j // 4 + 5 * j) % 7)

    if h == 0:
        day = 'Saturday'
    elif h == 1:
        day = 'Sunday'
    elif h == 2:
        day = 'Monday'
    elif h == 3:
        day = 'Tuesday'
    elif h == 4:
        day = 'Wednesday'
    elif h == 5:
        day = 'Thursday'
    elif h == 6:
        day = 'Friday'
    else:
        day = 'Error'
 
    if _m == 1:
        _m = "January"
    elif _m == 2:
        _m = "Febrary"
    elif _m == 3:
        _m = "March"
    elif _m == 4:
        _m = "April"
    elif _m == 5:
        _m = "May"
    elif _m == 6:
        _m = "June"
    elif _m == 7:
        _m = "July"        
    elif _m == 8:
        _m = "August"
    elif _m == 9:
        _m = "September"
    elif _m == 10:
        _m = "October"
    elif _m == 11:
        _m = "November"        
    else:
        _m = "December"
    print(f'{_m} 1, {_year} is {day}')

Enter the year: 2020
January 1, 2020 is Wednesday
Febrary 1, 2020 is Saturday
March 1, 2020 is Monday
April 1, 2020 is Thursday
May 1, 2020 is Saturday
June 1, 2020 is Tuesday
July 1, 2020 is Thursday
August 1, 2020 is Sunday
September 1, 2020 is Wednesday
October 1, 2020 is Friday
November 1, 2020 is Monday
December 1, 2020 is Wednesday

<img src="imagenes/capitulo_05/5.31.png">

In [56]:
year = eval(input('Enter the year: '))
firstDay = eval(input('Enter the day (0-6):'))
month = 1


# Determinate is year is leap or not
isLeapYear = (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

for j in range(1, 13):
    
    if month == 1 or month == 3 or month == 5 or month == 7 or month == 8 or month == 10 or month == 12:
        days = 31
    elif month == 4 or month == 6 or month == 9 or month == 11:
        days = 30
    elif month == 2 and isLeapYear == True:
        days = 29
    elif month and isLeapYear == False:
        days = 28
    else:
        days = 0

    if month == 1:
        monthName = 'January'
    elif month == 2:
        monthName = 'Febrary'
    elif month == 3:
        monthName = 'March'
    elif month == 4:
        monthName = 'April'
    elif month == 5:
        monthName = 'May'    
    elif month == 6:
        monthName = 'June'    
    elif month == 7:
        monthName = 'July'
    elif month == 8:
        monthName = 'August'
    elif month == 9:
        monthName = 'September'
    elif month == 10:
        monthName = 'Octuber'
    elif month == 11:
        monthName = 'November'
    elif month == 12:
        monthName = 'December'
    else:
        monthName = 'Is not a month'

    print()
    monthName = monthName + " " + str(year)
    print(f'{monthName:^34}')
    print(f'{"----------------------------------":^34}')
    print(f'{"Sun":^3}  {"Mon":^3}  {"Tue":^3}  {"Wed":^3}  {"Thu":^3}  {"Fri":^3}  {"Sat":^3}')

    for i in range(firstDay):
        print(f'{str():>3}', end = "  ")

    for i in range(1, days + 1):
        if firstDay % 7 == 0:
            firstDay = 0
            print()
        print(f'{i:>3}', end = "  ")
        firstDay += 1
    print()
    
    month += 1

Enter the year: 2020
Enter the day (0-6):3

           January 2020
----------------------------------
Sun  Mon  Tue  Wed  Thu  Fri  Sat
                 1    2    3    4
  5    6    7    8    9   10   11
 12   13   14   15   16   17   18
 19   20   21   22   23   24   25
 26   27   28   29   30   31

           Febrary 2020
----------------------------------
Sun  Mon  Tue  Wed  Thu  Fri  Sat
                                1
  2    3    4    5    6    7    8
  9   10   11   12   13   14   15
 16   17   18   19   20   21   22
 23   24   25   26   27   28   29

            March 2020
----------------------------------
Sun  Mon  Tue  Wed  Thu  Fri  Sat

  1    2    3    4    5    6    7
  8    9   10   11   12   13   14
 15   16   17   18   19   20   21
 22   23   24   25   26   27   28
 29   30   31

            April 2020
----------------------------------
Sun  Mon  Tue  Wed  Thu  Fri  Sat
                 1    2    3    4
  5    6    7    8    9   10   11
 12   13   14   15   16   17   18
 19   20   21   22   23   24   25
 26   27   28   29   30

             May 2020
----------------------------------
Sun  Mon  Tue  Wed  Thu  Fri  Sat
                           1    2
  3    4    5    6    7    8    9
 10   11   12   13   14   15   16
 17   18   19   20   21   22   23
 24   25   26   27   28   29   30
 31

            June 2020
----------------------------------
Sun  Mon  Tue  Wed  Thu  Fri  Sat
       1    2    3    4    5    6
  7    8    9   10   11   12   13
 14   15   16   17   18   19   20
 21   22   23   24   25   26   27
 28   29   30

            July 2020
----------------------------------
Sun  Mon  Tue  Wed  Thu  Fri  Sat
                 1    2    3    4
  5    6    7    8    9   10   11
 12   13   14   15   16   17   18
 19   20   21   22   23   24   25
 26   27   28   29   30   31

           August 2020
----------------------------------
Sun  Mon  Tue  Wed  Thu  Fri  Sat
                                1
  2    3    4    5    6    7    8
  9   10   11   12   13   14   15
 16   17   18   19   20   21   22
 23   24   25   26   27   28   29
 30   31

          September 2020
----------------------------------
Sun  Mon  Tue  Wed  Thu  Fri  Sat
            1    2    3    4    5
  6    7    8    9   10   11   12
 13   14   15   16   17   18   19
 20   21   22   23   24   25   26
 27   28   29   30

           Octuber 2020
----------------------------------
Sun  Mon  Tue  Wed  Thu  Fri  Sat
                      1    2    3
  4    5    6    7    8    9   10
 11   12   13   14   15   16   17
 18   19   20   21   22   23   24
 25   26   27   28   29   30   31

          November 2020
----------------------------------
Sun  Mon  Tue  Wed  Thu  Fri  Sat

  1    2    3    4    5    6    7
  8    9   10   11   12   13   14
 15   16   17   18   19   20   21
 22   23   24   25   26   27   28
 29   30

          December 2020
----------------------------------
Sun  Mon  Tue  Wed  Thu  Fri  Sat
            1    2    3    4    5
  6    7    8    9   10   11   12
 13   14   15   16   17   18   19
 20   21   22   23   24   25   26
 27   28   29   30   31

<img src="imagenes/capitulo_05/5.32.png">

In [7]:
amount = 100
annualInterest = 5
monthlyInterest = annualInterest / 100 / 12
months = 6
accountValue = 0
for i in range(1, months + 1):
    accountValue = (amount + accountValue) * (1 + monthlyInterest)
    print(f'Month {i} -> {accountValue:1.3f}')

Month 1 -> 100.417
Month 2 -> 201.252
Month 3 -> 302.507
Month 4 -> 404.184
Month 5 -> 506.285
Month 6 -> 608.811

<img src="imagenes/capitulo_05/5.33.png">

In [14]:
amount = 10000
annualYield = 5.75
months = 18
cdValue = amount
print(f'{"Month":8} {"CD Value":10}')
for i in range(1, months + 1):
    cdValue = cdValue + (cdValue * annualYield / 1200)
    print(f'{i:<8} {cdValue:1.2f}')

Month    CD Value
1        10047.92
2        10096.06
3        10144.44
4        10193.05
5        10241.89
6        10290.97
7        10340.28
8        10389.82
9        10439.61
10       10489.63
11       10539.89
12       10590.40
13       10641.14
14       10692.13
15       10743.37
16       10794.84
17       10846.57
18       10898.54

<img src="imagenes/capitulo_05/5.34.png">

In [65]:
import random

# Generate a lottery digit 1
lotteryDigit1 = random.randint(1, 9)
lotteryDigit2 = lotteryDigit1

# Generate a lottery digit 2 distinct to digit 1
while lotteryDigit2 == lotteryDigit1:
    lotteryDigit2 = random.randint(0, 9)
    
lottery = lotteryDigit1 * 10 + lotteryDigit2

# Prompt the user to enter a guess
guess = eval(input("Enter your lottery pick (two digits): "))

# Get digits from guess
guessDigit1 = guess // 10
guessDigit2 = guess % 10

print("The lottery number is", lottery)

# Check the guess
if guess == lottery:
    print("Exact match: you win $10,000")
elif  (guessDigit2 == lotteryDigit1 and guessDigit1 == lotteryDigit2):
    print("Match all digits: you win $3,000")
elif (guessDigit1 == lotteryDigit1
        or guessDigit1 == lotteryDigit2
        or guessDigit2 == lotteryDigit1
        or guessDigit2 == lotteryDigit2):
    print("Match one digit: you win $1,000")
else:
    print("Sorry, no match")

Enter your lottery pick (two digits): 45
The lottery number is 23
Sorry, no match

<img src="imagenes/capitulo_05/5.35.png">

In [ ]:
for number in range(1, 100000 + 1):
    sum = 0
    for div in range(2, number + 1):
        if number % div == 0:
            sum += number / div
            #print(f'{number / div:1.0f}')

    if sum == number:
        print(f'{number} is a perfect number')

6 is a perfect number
28 is a perfect number
496 is a perfect number
8128 is a perfect number

<img src="imagenes/capitulo_05/5.36.png">

In [ ]:
import random

winComputer = 0
winPlayer = 0

while winComputer != 2 and winPlayer != 2:
    computer = random.randint(0, 2)

    player = eval(input('scissor (0), rock (1), paper (2): '))

    if computer == 0 and player == 0:
        print('The computer is scissor. You are scissor too. It is a draw')
    elif computer == 1 and player == 1:
        print('The computer is rock. You are rock too. It is a draw')
    elif computer == 2 and player == 2:
        print('The computer is paper. You are paper too. It is a draw')
    elif computer == 0 and player == 1:
        print('The computer is scissor. You are rock. You won')
        winPlayer += 1
    elif computer == 0 and player == 2:
        print('The computer is scissor. You are paper. You lose')
        winComputer += 1
    elif computer == 1 and player == 0:
        print('The computer is rock. You are scissor. You lose')
        winComputer += 1
    elif computer == 1 and player == 2:
        print('The computer is rock. You are paper. You won')
        winPlayer += 1
    elif computer == 2 and player == 0:
        print('The computer is paper. You are scissor. You won')
        winPlayer += 1
    elif computer == 2 and player == 1:
        print('The computer is paper. You are rock. You lose')
        winComputer += 1
    else:
        print('Error')
        
print(f'The score is player: {winPlayer} - computer: {winComputer}')

<img src="imagenes/capitulo_05/5.37.png">

In [10]:
import math

sum = 0

for i in range(1, 624 + 1):
    sum += 1 / (math.sqrt(i) + math.sqrt(i + 1))

print(f'The sum is: {sum}')

The sum is: 24.00000000000001

<img src="imagenes/capitulo_05/5.38.png">

In [43]:
import time

seconds = eval(input('enter the number of seconds: '))

for i in range(seconds, 0, -1):
    startTime = time.time()
    testTime = 0
    while testTime != 1:
        endTime = time.time()
        testTime = int(endTime - startTime)
    if i != 1:
        print(f'{i - 1} seconds remaining')
    else:    
        print("Stopped")

enter the number of seconds: 16
15 seconds remaining
14 seconds remaining
13 seconds remaining
12 seconds remaining
11 seconds remaining
10 seconds remaining
9 seconds remaining
8 seconds remaining
7 seconds remaining
6 seconds remaining
5 seconds remaining
4 seconds remaining
3 seconds remaining
2 seconds remaining
1 seconds remaining
Stopped

<img src="imagenes/capitulo_05/5.39.png">

In [1]:
commision = 0
salesAmount = 0
goal = 30000 - 5000
while commision < 30000:
    salesAmount += 1
    if salesAmount > 10000:
        commision = (5000 * 0.08) + (5000 * 0.1) + (salesAmount - 10000) * 0.12
    elif salesAmount > 5000:
        commision = (5000 * 0.08) + (salesAmount - 5000) * 0.1
    else:
        commision = salesAmount * 0.08
    
print(f'salesAmount = {salesAmount}')
print(f'commision = {commision}')

salesAmount = 252500
commision = 30000.0

<img src="imagenes/capitulo_05/5.40.png">

In [53]:
import random

heads = 0
tails = 0

for i in range(1000000):
    coin =  random.randint(0, 1)
    if coin == 0:
        heads += 1
    else:
        tails += 1
        
print(f'heads -> {heads}')
print(f'tails -> {tails}')

heads -> 500314
tails -> 499686

<img src="imagenes/capitulo_05/5.41.png">

In [61]:
number = eval(input('Enter a number (0: for end of input): '))
max = number
count = 1

while number != 0:
    number = eval(input('Enter a number (0: for end of input): '))
    if number == max:
        count += 1
    elif number > max:
        max = number
        count = 1
    
print(f'The largest number is {max}')
print(f'The occurrence count of the largest number is {count}')

Enter a number (0: for end of input): 3
Enter a number (0: for end of input): 5
Enter a number (0: for end of input): 2
Enter a number (0: for end of input): 5
Enter a number (0: for end of input): 5
Enter a number (0: for end of input): 5
Enter a number (0: for end of input): 0
The largest number is 5
The occurrence count of the largest number is 4

<img src="imagenes/capitulo_05/5.42.png">

In [75]:
import random

region_1, region_2, region_3, region_4 = 0, 0, 0, 0

for i in range(1000000):
    # square on X axis from -100 to 100 on y axis from -100 to 100
    x =  random.randint(-100, 100)
    y =  random.randint(-100, 100)
    
    #print(f'Dart coordinates at ({x}, {y})')

    if x < 0:
        region_1 += 1
    elif x > 0 and y < 0:
        region_4 += 1
    elif (x > 0 and x < 100) and (y > 0 and y < x / 2):
        region_3 += 1
    else:
        region_2 += 2
    
print(f'Region 1: {region_1}')
print(f'Region 2: {region_2}')
print(f'Region 3: {region_3}')
print(f'Region 4: {region_4}')

Region 1: 496653
Region 2: 391898
Region 3: 59456
Region 4: 247942

<img src="imagenes/capitulo_05/5.43.png">

In [79]:
count = 0
for i in range(1, 8):
    for j in range(i + 1, 8):
        #print(f'{i}{j}')
        count +=1
print(f'The total number of all combinations is {count}')

The total number of all combinations is 21

<img src="imagenes/capitulo_05/5.44.png">

In [24]:
number = 28

binary = ""

while number >= 1:
    rest = number % 2
    number = number / 2
    binary =  str(int(rest)) + binary

print(binary)

11100

<img src="imagenes/capitulo_05/5.45.png">

In [ ]:
# Sin resolver

<img src="imagenes/capitulo_05/5.46.png">

In [3]:
x1,x2,x3,x4,x5,x6,x7,x8,x9,x10 = 1, 2, 3, 4, 5.5, 5.6, 7, 8, 9, 10

mean = (x1+x2+x3+x4+x5+x6+x7+x8+x9+x10) / 10


standard = (((x1 - mean)**2 + (x2 - mean)**2 + (x3 - mean)**2 + (x4 - mean)**2 + (x5 - mean)**2 + (x6 - mean)**2 + (x7 - mean)**2 + (x8 - mean)**2 + (x9 - mean)**2 + (x10 - mean)**2  ) / 10 - 1) ** 0.5


print(f'The mean is {mean}')
print(f'The standard is {standard:1.4f}')

The mean is 5.51
The standard is 2.6834

<img src="imagenes/capitulo_05/5.47.png">

In [7]:
import turtle, random

t = turtle.Turtle()

t.hideturtle()

t.penup()
t.goto(-60,50)
t.pendown()
t.goto(60,50)
t.goto(60,-50)
t.goto(-60,-50)
t.goto(-60,50)
t.penup()

for i in range(10):
  x = random.randint(-59,59)
  y = random.randint(-49,49)
  t.goto(x, y)
  t.dot(6, "red")

turtle.done()

<img src="imagenes/capitulo_05/5.48.png">

In [9]:
import turtle

t = turtle.Turtle()

t.hideturtle()

radiusBase = 50

for i in range(10):
  radius = radiusBase + i*5
  t.penup()
  t.goto(0,-radius)
  t.pendown()
  t.circle(radius)

turtle.done()

<img src="imagenes/capitulo_05/5.49.png">

In [39]:
import turtle

t = turtle.Turtle()

#t.hideturtle()

t.penup()

t.hideturtle()

t.goto(-145, 160)
t.write('Multiplication Table', font = ("Times", 17, "bold"))

t.lt(-90)
t.goto(-155,130)
t.lt(90)
for i in range(1, 10):
    t.write(f'{i:>4}', font = ("Times", 13, "bold"))
    t.fd(35)
t.goto(-15, 115)
t.write('----------------------------------------------------------', align="center", font = ("Times", 13, "bold"))

for i in range(1, 10):
  t.lt(-90)
  t.goto(-200,120 - 25 * i)
  t.lt(90)
  t.write(f'{i:>4}   |', font = ("Times", 13, "bold"))
  t.fd(45)
  for j in range(1, 10):
    if i * j > 9:
      t.write(f'{i*j:>3}', font = ("Times", 13, "bold"))
    else:
      t.write(f'{i*j:>4}', font = ("Times", 13, "bold"))
    t.fd(35)

turtle.done()

<img src="imagenes/capitulo_05/5.50.png">

In [25]:
import turtle

t = turtle.Turtle()

t.hideturtle()

t.penup()
t.goto(-150,100)
t.lt(-90)

for i in range(1, 11):
    text = ""
    for j in range(1, i + 1):
      text = text + str(j) + " "
      t.write(text, font = ("Times", 13, "bold"))
    t.fd(20)

turtle.done()

<img src="imagenes/capitulo_05/5.51.png">

In [41]:
import turtle

t = turtle.Turtle()

t.hideturtle()

t.penup()
  
for i in range(0, 18 + 1):
  t.goto(-150,120 - 15 * i)
  t.pendown()
  t.fd(270)
  t.penup()

t.lt(-90)

for i in range(0, 18 + 1):
  t.goto(-150 + 15 * i, 120)
  t.pendown()
  t.fd(270)
  t.penup()


turtle.done()

<img src="imagenes/capitulo_05/5.52.png">

In [47]:
import turtle, math

t = turtle.Turtle()

t.hideturtle()

t.penup()
t.goto(-225, -15)
t.pendown()
t.goto(225, -15)
t.lt(-150)
t.fd(20)
t.goto(225, -15)
t.lt(-60)
t.fd(20)
t.lt(210)

t.penup()
t.goto(0, -100)
t.pendown()
t.goto(0, 100)
t.rt(60)
t.fd(20)
t.penup()
t.goto(0,100)
t.rt(60)
t.pendown()
t.fd(20)

t.penup()
t.goto(-100, -35)
t.write("-2\u03c0", font = ("Times", 12, "normal"))
t.goto(100, -35)
t.write("2\u03c0", font = ("Times", 12, "normal"))

t.goto(-175, 50 * math.sin((-175 / 100) * 2 * math.pi))
t.pendown()

for x in range(-175, 176):
  t.goto(x, 50 * math.sin((x / 100) * 2 * math.pi))

turtle.done()

<img src="imagenes/capitulo_05/5.53.png">

In [49]:
import turtle, math

t = turtle.Turtle()

t.hideturtle()

t.penup()
t.goto(-225, -15)
t.pendown()
t.goto(225, -15)
t.lt(-150)
t.fd(20)
t.goto(225, -15)
t.lt(-60)
t.fd(20)
t.lt(210)

t.penup()
t.goto(0, -100)
t.pendown()
t.goto(0, 100)
t.rt(60)
t.fd(20)
t.penup()
t.goto(0,100)
t.rt(60)
t.pendown()
t.fd(20)

t.penup()
t.goto(-100, -35)
t.write("-2\u03c0", font = ("Times", 12, "normal"))
t.goto(100, -35)
t.write("2\u03c0", font = ("Times", 12, "normal"))

t.goto(-175, 50 * math.sin((-175 / 100) * 2 * math.pi))
t.pendown()

t.color('red')
for x in range(-175, 176):
  t.goto(x, 50 * math.sin((x / 100) * 2 * math.pi))

t.penup()
t.goto(-175, 50 * math.cos((-175 / 100) * 2 * math.pi))
t.pendown()

t.color('blue')
for x in range(-175, 176):
  t.goto(x, 50 * math.cos((x / 100) * 2 * math.pi))


turtle.done()

<img src="imagenes/capitulo_05/5.54.png">

In [51]:
import turtle, math

t = turtle.Turtle()

t.hideturtle()

t.penup()
t.goto(-225, 0)
t.pendown()
t.goto(225, 0)
t.lt(-150)
t.fd(20)
t.goto(225, 0)
t.lt(-60)
t.fd(20)
t.lt(210)

t.penup()
t.goto(0, -100)
t.pendown()
t.goto(0, 100)
t.rt(60)
t.fd(20)
t.penup()
t.goto(0,100)
t.rt(60)
t.pendown()
t.fd(20)

t.penup()
t.goto(230, -10)
t.write("X", font = ("Times", 12, "normal"))
t.goto(0, 105)
t.write("Y", align="center", font = ("Times", 12, "normal"))

t.penup()
t.goto(-150, 150)
t.pendown()

for x in range(-150, 150):
  t.goto(x, x ** 2 / 150)


turtle.done()

<img src="imagenes/capitulo_05/5.55.png">

In [1]:
import turtle, math

t = turtle.Turtle()

t.hideturtle()

t.pensize(3)

for i in range(8):
  for j in range(0, 8):
    t.penup()
    t.goto(-120 + 37 * j, 100 - 38 * i)
    t.setheading(45)
    t.color("black")
    t.pendown()
    if (i + j) % 2 == 0:
      t.circle(25, steps = 4)
    else:
      t.begin_fill()
      t.circle(25, steps = 4)
      t.end_fill()

turtle.done()